#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.h1{
  align-items: center;
}
h2.cleanEnergy, h2.best-window, .best-window-clean {
  color:rgb(2, 175, 11);
  font-weight: bold;



}
h2{
  font-weight:100;
  color:rgb(135, 65, 65)
}
h1{
  font-weight:bold;
  color:rgb(135, 65, 65)
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.input-field {
  font-size: 5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border-bottom-color: black;
}



.submit-button, .next-page-button {
  color: rgb(135, 65, 65);
}

.submit-button:hover, .next-page-button:hover {
  background-color: rgb(175, 85, 85);
  color: black;
  outline-color: rgb(175, 85, 85) ;
  
  
}


.input-field.MuiInput-underline:after {
  border-bottom-color: black;
}
.period-label {
  color: black;
  font-weight: 500;
}

.period-label.Mui-focused {
  color: black;
}
.best-window-start, .best-window-end {
  color:black;
  font-weight: bold;
}

